crud.HttpGet tests must throw SkipException when optional features are not supported

The following tests need to throw SkipExceptions when appropriate: 
additionalValuesForPreferHeader()
additionalValuesForPreferHeaderContainedDescriptions()
responsePreferenceAppliedHeader()

These tests do not exercise optional behavior, and therefore should never be skipped.

https://fcrepo.github.io/fcrepo-specification/#additional-prefer-values
> In addition to the requirements of [LDP], an implementation ... should support the value http://fedora.info/definitions/fcrepo#PreferInboundReferences for the Prefer header when making GET requests on LDPC resources.
> In addition to the requirements of [LDP], an implementation ... may support the value http://www.w3.org/ns/oa#PreferContainedDescriptions for the Prefer header when making GET requests on LDPC resources.

https://fcrepo.github.io/fcrepo-specification/#http-get-ldprs
> Responses to GET requests that apply a Prefer request header to any LDP-RS must include the Preference-Applied response header as defined in [RFC7240] section 3.
