Doubt when comparing GET AND HEAD response headers for 3.3 HTTP HEAD

The test suite compares the response headers from a GET response and HEAD response for section 3.3 HTTP HEAD. It does not take into account Payload Headers. If the type of headers and the number of headers are the same the test is marked as PASS. Currently, the number of headers and/or the type of headers differ between GET and HEAD requests.

Fedora API Specification Definition
In other cases, the server should send the same headers in response to a HEAD request as it would have sent if the request had been a GET, except that the payload headers (defined in [RFC7231] section 3.3) may be omitted.
https://fcrepo.github.io/fcrepo-specification/#http-head

Steps taken:
1.Post create a Container
2.Request: Get Container
3.Request: Head Container
4.Compare Headers without taking into account payload headers: Content-Length, Content-Range, Trailer, Transfer-Encoding.

Currently, there are differences in a GET and HEAD header response from a container. A GET request for a container returns 3 extra headers when compared with a head. They are:

Preference-Applied: return=representation
Vary: Prefer
Vary: Accept, Range, Accept-Encoding, Accept-Language

The difference in headers is causing the test to fail. The Preference-Applied header is not a payload header but it is understandable that it appears in the GET request and not in the HEAD request. Not sure if these headers need to be ignored and the test marked as a PASS. Also, should we run a separate test for a Non-RDF resource.